/*-----------------------------------------------------------
    Theme Name: 
    Theme URI: 
    Description: 
    Author: 
    Author URI: 
    Version: 1.0
-------------------------------------------------------------*/


/*-----------------------------------------------------------
    1  General Styles
    2  Typography
    3  Buttons & Links 
    4  Fixed Header
    5  Menu
    6  Hero Area
    7  Breadcrumb 
    8  Catagory Box
    9  Work Proces
   
-------------------------------------------------------------*/


/*-----------------------------------------------------------
            General Styles 
-------------------------------------------------------------*/

dl,
dt,
dd,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #222222;
    text-decoration: none;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

a:focus,
a:hover {
    color: #000;
    text-decoration: none;
    outline: none;

}

:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
    letter-spacing: .025em;
    line-height: 1.6;
}

.form-control {
    border-radius: 0
}

.form-control:focus {
    border-color: #888;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*-----------------------------------------------------------
                    Typography 
-------------------------------------------------------------*/

body {
    color: #888;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden !important;
}


p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0;
}



/*-----------------------------------------------------------
                Buttons & Links
-------------------------------------------------------------*/

.btn:focus {
    box-shadow: none !important;
}

.btn.v1 {
    background: #000;
    padding: 10px 35px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}


.btn.v1:hover {
    background: #666;
}

.btn.v2 {
    background: #000;
    padding: 10px 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}

.btn.v2 i {
    margin-right: 8px;
    position: relative;
    top: 2px;
    color: #fff;
}

.btn.v2:hover {
    background: #666;
}

.btn.v2:hover i {
    color: #fff;
}

.btn.v3 {
    background: #6449E7;
    padding: 9px 15px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff !important;
    transition: 0.3s;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
}

.btn.v3 i {
    margin-right: 8px;
}

.btn.v3:hover {
    background: #fff;
    color: #6449E7 !important;
    border: 1px solid #6449E7;
}

.btn.v4 {
    background: transparent;
    padding: 5px 14px;
    border-radius: 3px;
    border: 0.5px solid #ddd;
    color: #ddd !important;
    transition: 0.3s;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
}

.btn.v4:hover {
    background: #f5f6f7;
    border: 1px solid transparent;
}

.btn.v4:hover i {
    color: #888;
}

.btn.v5 {
    padding: 3px 7px;
    border-radius: 2px;
    font-size: 10px;
    letter-spacing: 1px;
    transition: 0.5s;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 500;
    background: #6449E7;
    color: #fff;
    cursor: text !important;
}



.scrolltotop {
    border: 2px solid #ddd;
    border-radius: 50%;
    bottom: 40px;
    cursor: pointer;
    display: none;
    font-size: 15px;
    height: 35px;
    text-align: center;
    position: fixed;
    right: 30px;
    width: 35px;
    z-index: 999;
    background: transparent;
    line-height: 35px;
}

.scrolltotop i {
    color: #ddd;
}

.bg_pb {
    background-color: #f9f9f9;
    /*background-color: #fdfdfd;*/
}

/*-----------------------------------------------------------
                  Fixed header
-------------------------------------------------------------*/
.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    transition: 0.7s;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.7s;
}

.header.hide {
    top: -100px;
    visibility: hidden;
    transition: 0.7s;
}

.header.transparent.scroll {
    padding: 0;
    transition: 0.7s;
    z-index: 9999;
}

.header.transparent.scroll-hide.scroll .site-navbar-wrap.v1 .mobile-bar span {
    color: #fff;
}

.header.transparent.scroll .site-navbar-wrap.v1 {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.header.transparent.scroll .site-navbar-wrap.v2 {
    background-color: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.header.transparent.scroll .site-navbar-wrap.v1 .user-btn span {
    background: #fff;
    color: #6449e7;
}

.header.transparent.scroll .site-navbar-wrap.v1 .btn.v6 {
    background: #fff;
}

.header.transparent.scroll .site-navbar-wrap.v1 .btn.v6:hover {
    color: #888 !important;
    background: #fff;
}

.header.transparent.scroll .site-navbar-wrap.v1 .add-list .btn.v8 {
    background: #fff;
    color: #000 !important;
}

.header.transparent.scroll .site-navbar-wrap.v1 .site-navbar .site-navigation .site-menu>li>a {
    color: #fff;

}

.header.transparent.scroll .header.transparent.scroll .site-navbar-wrap.v1 .site-menu>li::before {
    background: #222222;
}

.header.transparent.scroll .site-navbar-wrap .site-navbar .site-navigation .site-menu .has-children>a::before {
    color: #222222;
}

.header.transparent.scroll .site-navbar-wrap.v1 .user-btn.v2 li a i {
    color: #fff
}

.header.transparent.scroll .btn.v6 {
    border-color: transparent;
    color: #888 !important;
}

.header.transparent.scroll .btn.v6:hover {
    background-color: #6449e7;
    color: #fff !important;
}

/*-----------------------------------------------------------
                 Header Top section
-------------------------------------------------------------*/
.header-top-section {
    background: #F4F6FD;
    display: block;
    transition: 1s;
    padding: 5px 0;
}

.header-top-left ul li {
    display: inline-block;
    padding-right: 30px;
}

.header-top-left ul li a {
    font-size: 13px;
    color: #222;
}

.header-top-left ul li i {
    color: #000;
    margin-right: 7px;
    font-size: 15px;
    top: 1px;
    position: relative;
}

.contact_num {
    text-align: right;
}

.contact_num i {
    font-size: 20px;
    color: #333;
}

.contact_num a {
    font-size: 20px;
    margin-left: 10px;
}


.header-top-section.header-top-none {
    display: none;
}

.nice-select.lang_select {
    border: none;
    background: transparent;
    width: 75px;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    color: #333;
}

.nice-select.lang_select::after {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    width: 6px;
    height: 6px;
    right: 8px;
    top: 45%;
}

.nice-select .option.focus,
.nice-select .option.selected.focus,
.nice-select .option:hover {
    background-color: #ddd;
    color: #000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.search_box .form-group input {
    width: 100%;
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
}

.search_box .form-group {
    position: relative;
    margin: 0;
}

.search_box .form-group button.search_btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: #999999;
    height: 100%;
    padding: 5px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.search_box .form-group button.search_btn i {
    font-size: 22px;
    color: #fff;
}

/*-----------------------------------------------------------
                    Menu
-------------------------------------------------------------*/
.site-navbar-wrap {
    z-index: 99;
    transition: 0.3s all ease;
}

.site-navbar-wrap .navbar-brand {
    padding: 0;
    max-width: 150px;
    margin-right: 0;
    line-height: 1.2;
}

.site-navbar-wrap .navbar-brand img {
    max-width: 70px;
}

.site-navbar-wrap.v1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.site-navbar-wrap.scrolled {
    padding: 0px 0;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
}

.site-navbar-top {
    display: none;
    font-size: 0.8rem;
    background: #1e7e34;
}

.site-navbar-top a {
    color: #fff;
}

.site-navbar-top .text-with-icon {
    color: rgba(255, 255, 255, 0.5);
}

.site-navbar-top,
.site-navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
}

.site-navbar .site-logo {
    font-weight: 200;
}

.site-navbar .site-logo a {
    font-weight: 200;
    font-size: 26px;
    color: #000;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-menu>li {
    position: relative;
}

.site-navbar-wrap.v1 .site-menu>li::before {
    background: #fff;
}

.site-navbar-wrap.v2 .site-menu>li::before {
    background: #6449e7;
}

.site-navbar .site-navigation .site-menu .active>a {
    color: #000;
}

.user-menu li a {
    padding-left: 5px !important;
    padding-right: 0 !important;
}

.user-menu li a {
    background: #6449E7;
    color: #fff !important;
    border-radius: 20px;
    transition: 0.4s;
    padding: 10px 20px !important
}

.user-menu li a:hover {
    background: #fff;
    color: #333 !important;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 10px 15px;
}

.site-navbar .site-navigation .site-menu>li:first-child {
    padding-left: 0;
}

.site-navbar-wrap.v1 .site-navbar .site-navigation .site-menu>li>a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none !important;
}

.menu-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.user-login-wrap {
    margin-left: 20px;
}

.site-navbar-wrap.v1 .user-login-wrap a {
    color: #fff;
    font-size: 15px;
}

.user-btn li {
    display: inline-block;
    position: relative;
    margin-left: 15px;
}

.user-btn li a {
    display: inline-block;
    text-align: center;
    position: relative;
    transition: 0.5s;
    width: 30px;
}

.user-btn span {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #666;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    color: #fff;
    font-size: 10px;
    top: -3px;
    right: -10px;
}

.user-btn li a i {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    transition: 0.5s;
}

.user-btn.v2 li a {
    background: transparent;
}

.user-btn.v2 li a i {
    color: #fff;
    font-size: 18px;
}

.user-btn li a:hover {
    border-color: #6449e7;
}

.user-btn.v2 li a:hover {
    border-color: #fff;
}

.user-btn.v2 li a:hover i {
    color: #fff;
}


.add-list {
    text-align: right;
}

.site-navbar-wrap {
    padding: 10px 0 0;
    background-color: #fff;
}

.site-navbar-wrap .site-navbar .site-navigation .site-menu>li>a {
    color: #222222;
}

.site-navigation {
    margin-top: 10px;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #000;
}

.site-navbar .site-navigation .site-menu>li:last-child {
    padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.has-children a {
    font-size: 15px;
    font-weight: 300;
}

.site-navbar .site-navigation .site-menu .has-children>a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    display: block;
}

.dropdown>.has-children>a::before {
    position: absolute !important;
    content: "\e876" !important;
    color: #222222 !important;
    font-family: "Linearicons-Free";
    top: 11px !important;
    right: 3px !important;
    font-size: 10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 122%;
    left: -6%;
    position: absolute;
    text-align: left;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    transition: 0.4s 0s;
    z-index: 999;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    min-width: 12.3rem;
    z-index: 9999;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li {
    position: relative;
    padding: 5px 20px;
}

.dropdown.sub-menu {
    position: absolute;
    min-width: 15.5rem !important;
    z-index: 9999;
}

.dropdown li a:hover {
    margin-left: 5px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #000;
    border-width: 7px;
    margin-left: -7px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    transition: 0s all;
    color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
    color: #28a745 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    border-bottom: 1px solid #f5f6f7;
    list-style: none;
    margin: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li:last-child {
    border-bottom: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    display: block;
    color: #888;
    transition: 0.3s;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    color: #222222;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
    content: "\f10a";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown.sub-menu {
    top: 2% !important;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    transition-delay: 0s;
    margin-top: -1px;
    visibility: visible;
    opacity: 1;
}

.site-mobile-menu {
    width: 320px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    transform: translateX(110%);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
    transform: translateX(0%);
}

.mobile-bar span {
    font-size: 28px;
    border-radius: 4px;
}

.site-navbar-wrap.v1 .mobile-bar span {
    color: #fff;
}

.site-navbar-wrap.v2 .mobile-bar span {
    color: #000;
}

.site-mobile-menu-close.js-menu-toggle span {
    color: #000;
    margin-right: 15px;
    font-size: 25px !important;
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll !important;
    position: relative;
    padding: 20px 30px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 15px 0;
    display: block;
    position: relative;
    color: #212529;
    font-weight: 500;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
    color: #28a745;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "Linearicons-Free";
    content: "\e874";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
    font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
    padding-left: 40px;
    font-size: 16px;
    color: #888;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
    padding: 0;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
    font-size: 16px;
    padding-left: 60px;
}

/*
#user-login-popup .modal-dialog {
    max-width: 850px;
}*/
.user-login-section {
    padding: 10px 0;
}

.ui-list.nav.nav-tabs {
    border: none;
    justify-content: center;
    padding: 0 0 20px 0;
}

.ui-list.nav.nav-tabs li {
    border: none;
    padding: 5px 10px;
}

.ui-list.nav.nav-tabs li a:hover {
    border: none;
}

.ui-list.nav.nav-tabs li a {
    color: #777;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    padding: 0;
}

.ui-list.nav.nav-tabs li a.active {
    color: #333;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid #333;
}

.login-form .form-group,
.register-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-group label,
.register-form .form-group label {
    display: block;
    font-size: 15px;
    color: #333;
    margin-bottom: 5px;
    line-height: 1.2;
}

.login-form .form-group input,
.register-form .form-group input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    height: 45px;
}

.res-box {
    margin-top: 20px;
}

button.close:focus {
    outline: none;
    box-shadow: none;
    border: none
}

.check-box label {
    color: #333;
}


.section_title h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    line-height: 1.2;
    padding-bottom: 15px;
    margin-bottom: 0;
}

.section_title {
    text-align: center;
    padding-bottom: 50px;
}


.section_title h3:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 60px;
    height: 2px;
    background: #999;
    transform: translateX(-50%);
}

.social-btn li {
    display: inline-block;
    margin: 0 6px;
}

.social-btn li.bg-fb a {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #1877F2;
    color: #fff;
}
.social-profile-login h5 {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    line-height: 1;
}
.social-btn li.bg-fb a i {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
}
.social-btn li.bg-gg a {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #EA4335;
    color: #fff;
}

.social-btn li.bg-gg a i {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
}
/*---------------------------------
        Hero section CSS
---------------------------------*/
.hero_section {
    margin-top: 175px;
}

.hero_slider_item {
    padding: 60px 0;
}

.hero_text span {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    display: block;
    color: #666;
    line-height: 1.2;
}

.hero_text h1 {
    font-size: 45px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 50px;
    margin: 10px 0 30px;
}

/*---------------------------------
      Promo CSS
---------------------------------*/
.promo_section {
    padding: 40px 0;
}

.promo_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 25px 30px;
}

.promo_text h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 5px;
}

.promo_text p {
    font-size: 16px;
    line-height: 1.2;
    color: #666;
}

.promo_icon {
    margin-right: 30px;
}

.promo_icon i {
    font-size: 35px;
    color: #333;
}

.promo_icon {}

/*---------------------------------
        Category  Product CSS
---------------------------------*/
.category_section {
    padding: 100px 0;
}

.bg_1 {
    background-color: #FAF1FF;
}

.bg_2 {
    background-color: #FAF4EB;
}

.bg_3 {
    background-color: #F4E6E5;
}

.bg_4 {
    background-color: #E6F2F4;
}

.category_item {
    padding: 35px 30px 25px;
    border-radius: 3px;
    display: block;
    margin-bottom: 30px;
}

.cat_img {
    margin-bottom: 30px;
    width: 280px;
    height: 270px;
}

.cat_info {
    display: block;
    text-align: center;
}

.cat_info h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}

/*---------------------------------
        Featured Product CSS
---------------------------------*/
.feature_product_wrap {
    padding: 80px 0;
}


.feature_product {
    padding: 20px 20px 10px;
    transition: 0.4s;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 30px;
    height: 470px;
}

.feature_product:hover {
    border-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.feature_product_img {
    text-align: center;
    width: 200px;
    height: 280px;
    margin: 0 auto;
}

.feature_product_img img {
    max-width: 200px;
    max-height: 280px;
}


.feature_product_info {
    transform: translateY(0);
    transition: 0.4s;
    padding: 25px 0 7px;
    z-index: 9;
}

.feature_product.v1 .feature_product_info {
    background: #fff;
}

.feature_product.v2 .feature_product_info {
    background: #f9f9f9;
}

.feature_product:hover .feature_product_info {
    transform: translateY(-50px);
}

.feature_product_info a.product_cat {
    font-size: 12px;
    text-transform: uppercase;
    color: #f75454;
    line-height: 1;
    margin-bottom: 5px;
    letter-spacing: 1px;
    display: block;
}

.feature_product_info h3.product_name {
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 6px;
}


.feature_product_info h3.product_name a {
    font-size: 16px;
    display: block;
    line-height: 1.4;
    text-transform: capitalize;
    font-weight: 500;
}

.feature_product_info a.author {
    color: #999;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
    display: block;
}

.product_price span {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding-right: 10px;
}

.product_price span.discount_price {
    text-decoration: line-through;
}

.add_to_cart {
    display: inline-block;
    background: #2E512D;
    color: #fff;
    line-height: 1;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;

}

.product_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 23px;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
    padding: 0 20px;
}

.feature_product:hover .product_action {
    visibility: visible;
    opacity: 1;
}

.add_to_wishlist i {
    color: #000;
    font-size: 18px;
    cursor: pointer;
    line-height: 1;
    position: relative;
    top: 3px;
}

/*---------------------------------
        Footer CSS
---------------------------------*/
.ad_img {
    padding: 20px 0 60px 0;
}

/*---------------------------------
        Footer CSS
---------------------------------*/
.footer_area {
    padding: 40px 0 0;
    /*background: rgba(241, 242, 242, 0.14);*/
    background: #F4F6FD;
}

.footer_widget h2 a {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    display: block;
}

.footer_widget h2 {
    line-height: 1;
    margin-bottom: 20px;
}

.footer_widget p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    margin: 10px 0 30px;
}

.footer_widget .address {
    padding-right: 40px;
    list-style-position: 24px;
}

.social_profile li {
    display: inline-block;
    padding-right: 10px;
}

.social_profile li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #ddd;
    border-radius: 50%;
    text-align: center;
}

.social_profile li a i {
    font-size: 14px;
    line-height: 30px;
}

.footer_menu li a {
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
}

.footer_menu li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: #000;
    width: 0;
    height: 1px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.footer_menu li a:hover:after {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

.copyright {
    text-align: center;
    padding: 50px 0 20px;
}

.copyright p {
    font-size: 14px;
    color: #333;
}

.footer_widget h3 {
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 20px;
}

.newsletter_box .form-group input {
    width: 100%;
    border: none;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
}

.newsletter_box .form-group button {
    position: absolute;
    top: 0;
    right: 0;
    background: #999;
    border: none;
    color: #fff;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
    font-weight: 500;
}

.newsletter_box .form-group {
    position: relative;
}

.payment_method {
    margin-top: 35px;
}

h6.footer_subtitle {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
}

.payment_method ul li {
    display: inline-block;
    padding: 0 3px 0 0;
}

.payment_method ul li img {
    max-width: 50px;
}